* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: url(img/fundo.jpg);
    height: 100%;
}

nav {
    display: flex;
    background-color: aqua;
    height: 150px;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.logo img {
    width: 80px;
    object-fit: cover;
    height: 80px;
    border-radius: 50%;
}

.menu {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all 5s;
    display: flex;

}

.menu li {
    padding: 0 15px;
}

.botao a:hover {
    color: blue;
}

.button-menu {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

h1,
a {
    color: rgb(42, 147, 165);
    font-size: 30px;
}


h2,
a {
    color: rgb(240, 168, 73);
    font-size: 20px;

}

h3 {
    color: rgb(212, 194, 33);
    font-size: 20px;
}

span {
    font-size: 15px;
}

h4 {
    color: black;
    font-size: 20;
}

h1 {
    margin: 30;
    padding: 0;
}

main {
    background-image: url(img/fundo.jpg);
    margin: 30px;
}

.lista {
    margin: 30px;
}

footer {
    padding: 30px 0;
    background-color: aqua;
}

@media (max-width: 700px) {
    body {
        margin: 10px;
    }

    nav,
    .menu {
        flex-direction: column;

    }

    .menu {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 10px;
    }

    .button-menu {
        display: flex;
    }

    .botao,
    .menu {
        width: 100%;
    }
}